[submodule "Brigerad\\vendor\\spdlog"]
	path = Brigerad\\vendor\\spdlog
	url = https://github.com/gabime/spdlog
[submodule "Brigerad\\vendor\\GLFW"]
	path = Brigerad\\vendor\\GLFW
	url = https://github.com/TheCherno/GLFW
